<div style="text-align: center">
  <%= link_to('Write a new blog article', new_admin_page_article_path(page_id: @admin_page.id)) %>
</div>

<%= render :partial => 'shared/page', :locals => { :page => @admin_page } %>