//////////////////////////////////////////////////////////////////////////////
// Variables: If you change anything, restart the server for it to take effect
//////////////////////////////////////////////////////////////////////////////

$container_width: 800px;
$content_width: 600px;
$content_padding_l: 40px;
$content_padding_r: 60px;

$container_width_mid: $container_width / 1.5;
$content_width_mid: $content_width / 1.5;
$content_padding_l_mid: $content_padding_l / 1.5;
$content_padding_r_mid: $content_padding_r / 1.5;

$container_width_narrow: $container_width / 2;
$content_width_narrow: $content_width / 2;
$content_padding_l_narrow: $content_padding_l / 2;
$content_padding_r_narrow: $content_padding_r / 2;
