//////////////////////////////////////////////////////////////////////////////
// Variables: If you change anything, restart the server for it to take effect
//////////////////////////////////////////////////////////////////////////////

// Dimensions

$container_width: 1400px;
$content_width: 1400px;

$container_width_mid: 980px;
$content_width_mid: 980px;

$container_width_narrow: 700px;
$content_width_narrow: 700px;

// For mobile, container is always viewport width and content MUST be expressed
// in "vw".
//
$content_width_mobile: 95vw;

// Font metrics

$primary_font_family: "Noto Serif", serif;
$primary_font_weight: normal;
$secondary_font_family: "Akshar", sans-serif;
$secondary_font_weight: 300;

$base_font_size: 18px;
$base_paragraph_line_height: 30px;
$h1_font_weight: 700;

// Colours

$base_background: white;
$base_colour: black;
$h1_and_figure_colour: #525252;
$nav_link_base_colour: #332d18d8;
$nav_link_visited_colour: #534d38d8;

$head_foot_background: rgba(235, 234, 224, .5);
$head_foot_border_colour: #cbc9ae;
