<h1>Editing Article</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_page_article_path(page_id: @page.id, id: @article.id) %> |
<%= link_to 'Back', admin_page_articles_path(page_id: @page.id) %>
