@import 'config/variables';
@import 'config/mixins';
@import 'yui/pure-menus-min';

//////////////////////////////////////////////////////////////////////////////
// Shared styles
//////////////////////////////////////////////////////////////////////////////

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto; // (Sections - header, main, footer)
  min-height: 100vh;
  color: $base_colour;
  background: $base_background;
}

body, .redactor-styles {
  font-size: $base_font_size;
  font-family: $primary_font_family;
  font-weight: $primary_font_weight;

  p {
    line-height: $base_paragraph_line_height;
  }

  h1 {
    font-weight: $h1_font_weight;
    color: $h1_and_figure_colour;
  }

  h2, h3, h4, h5, h6, nav a {
    font-family: $secondary_font_family;
    font-weight: $secondary_font_weight;
  }

  h1 { font-size: 30px; }
  h2 { font-size: 28px; }
}

hr {
  border: none;
  border-top: 1px solid $head_foot_border_colour;
}

figcaption {
  margin-top: 0.5em;
  font-style: italic;
  font-size: 80%;
  text-transform: uppercase;
  display: inline-block;
  width: 80%;
  color: $h1_and_figure_colour;
}

div.two_column {
  display: grid;
  grid-template-columns: 50fr 50fr;
  column-gap: 40px;
}

div.two_column input[type="text"] {
  width: 100%;
}

form div.field {
  margin-bottom: 1em;
}

form div.field div.checkbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-after;
  gap: 7px;
  align-items: baseline;
}

input, select, button {
  font-size: 14pt;
  line-height: 150%;
  margin: 5px 0;
}

input {
  border: 1px solid black;
  padding: 2px 5px;
  box-sizing: border-box;
}

label {
  display: block;
}

textarea {
  margin: 5px 0;
  font-size: 12pt;
  max-width: 100%;
}

select {
  max-width: 100%;
}

input[type="file"] {
  font-size: 12pt;
}

input[type="file"]::-webkit-file-upload-button, input[type="submit"], button[name="submit"], button[name="publish"] {
  font-size: 12pt;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding: 5px 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d2d0d0), to(#f0f0f0));
  background-image: -moz-linear-gradient(90deg, #d2d0d0 0%, #f0f0f0 100%);
}

div.actions {
  display: flex;
  margin: 1em 0;
}

button[name="submit"] {
  box-shadow: 0 0 5px 0 green;
}

button[name="publish"] {
  box-shadow: 0 0 5px 0 orange;
}

button[name="submit"] + button[name="publish"] {
  margin-left: 0.5em;
}

.field_with_errors {
  input, textarea {
    border: 1px dashed red;
  }
}

.field_error_messages {
  color: #800;
  font-size: small;
  font-style: italic;
}

.form_field_label_required {
  font-size: smaller;
  font-weight: bold;
  padding-left: 0.5em;
}

.form_field_label_optional, .form_field_label_hint {
  font-size: smaller;
  font-weight: normal;
  font-style: italic;
  padding-left: 0.5em;
}

.form_field_label_hint:before {
  content: "(";
}

.form_field_label_hint:after {
  content: ")";
}

header,
main,
footer {
  width: 100%;
  margin: 0;
}

.redactor-styles.redactor-in {
  width: 100%;
  margin: 0;
}

section.header_content,
section.main_content,
section.footer_content,
section.footer_suffix {
  @include content_metrics;
}

header {
  background: $head_foot_background;
  border-bottom: 1px solid $head_foot_border_colour;
  padding-top: 20px;
  padding-bottom: 20px;

  section.header_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    #logo {
      // ...no special styles yet...
    }
  }
}

section.messages, div#error_explanation {
  padding: 0 10px;
  background: #eef;
  border: 1px solid #00f;
  color: #00f;
  font-size: 125%;
  font-weight: bold;
  margin-bottom: 1em;
}

article.article {
  section.blog-header {
    border-top:    1px dotted #999;
    border-bottom: 1px dotted #999;
    margin-bottom: 20px;
  }

  .article-date-and-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }

  .article-date {
    font-size: small;
    margin: 0;
    padding-left: 5px;
    text-align: right;
  }

  .article-heading {
    margin: 5px 0;
  }

  .article-summary {
    font-size: smaller;
    font-style: italic;
    margin-bottom: 1em;
  }
}

section.blog-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;

  article.article {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 1;
      border-radius: 0.5em;
    }
  }
}

main, .redactor-box.redactor-styles-on {
  border: none;

  .redactor-styles.redactor-in,
  div.above-clear {
    & > h1:first-child,
    & > h2:first-child,
    & > h3:first-child,
    & > h4:first-child,
    & > h5:first-child,
    & > h6:first-child,
    & >  p:first-child {
      margin-top: 20px;
    }
  }

  section.main_content {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  img {
    max-width: $content_width;
    height: auto !important;
  }

  img:not(.no_spinner), iframe:not(.no_no_spinner) {
    @include standard_spinner;
  }

  img:not(.no_shadow),      iframe:not(.no_shadow),
  img:not(.no_decorations), iframe:not(.no_decorations) {
    @include standard_shadow;
  }

  img.no_shadow, iframe.no_shadow {
    @include no_shadow;
  }

  iframe[allowtransparency='true'], iframe.tickets {
    background-image: none !important;
    border: none !important;
  }

  /* The booking form frame JavaScript adds and removes this class
   * when the initial form fields are filled in and "buy" button used.
   */

  iframe.tickets.fullscreen-overlay {
    position: fixed !important;
    margin: 0 !important;
    padding: 5px !important;
    height: 99% !important;
    width: 100% !important;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    background: rgba(0, 0, 0, 0.8) !important;
    z-index: 999;
    overflow: auto;
  }

  /* No-decoration arbitrary content iframes are square by default; to
   * match bespoke content height, use an inline CSS declaration -
   * <iframe ... style="height: 400px" ...> - though it won't be
   * responsive.
   */

  iframe.no_decorations {
    margin-left: auto;
    margin-right: auto;
    width: $content_width;
    height: $content_width;
    overflow: hidden;
  }

  /* Most Redactor object containers are usually <figure> */

  figure {
    margin: 0.4em 0 0.5em 0; // (~align to top of text lines when floated)
    padding: 0;
    border-radius: 0.3em;

    > img, > a > img:only-child {
      border-radius: 0.3em;
    }
  }

  figure.float_left,
  figure[style*="float: left"],
  figure[style*="float:left"] {
    float: left;
    margin-right: 0 10px 10px 0;
  }

  figure.float_right,
  figure[style*="float: right"],
  figure[style*="float:right"] {
    float: right;
    margin: 0 0 10px 10px;
  }

  /* Redactor doesn't understand an iframe wrapped in any containers so
   * we just have to make do with hard-coded sizes on an assumption of a
   * 16:9 video inside any such frame, or something where 16:9 is an
   * acceptable ratio.
   */

  figure[data-redactor-type='video'] iframe {
    @include widescreen_video_block;
    @include standard_shadow;
  }

  figure[data-redactor-type='widget'] {
    > iframe {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .redactor-styles.redactor-in,
  div.above-clear {

    /* Inside the editor or content before-float-clear wrapper DIV,
     * for the last image inside the last paragraph, or for the last
     * image directly without a wrapping paragraph, adjust the
     * top/bottom margins a bit for better spacing with shadows. Use
     * "!important" to override inline styles set by Redactor in for
     * this special case.
     */

    p:last-child > img:not( [ class = 'no_shadow' ] ):last-child,
    &            > img:not( [ class = 'no_shadow' ] ):last-child {
      margin-top:    15px !important;
      margin-bottom: 15px !important;
    }

    /* Further, for the last image that isn't inside a paragraph
     * whether or not it has a shadow ensure spacing to any footer
     * content. If there's a wrapping paragraph, that ensure
     * enough space by itself. This stuff won't always work inside
     * the Redactor editor due to extra control containers it adds,
     * but it catches some cases and gives reasonable results.
     */

    & > img:last-child {
      margin-bottom: 35px !important;
    }
  }
}

div#publishing-info {
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.3em 0.8em;
  border: 1px solid $head_foot_border_colour;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 80%;
  backdrop-filter: blur(7px);

  button, select {
    font-size: 100%;
  }

  &.publishing-published {
    @include standard_shadow;
    background: #007e0044;
  }

  &.publishing-current {
    @include standard_shadow;
    background: #ffa50044;
  }

  &.publishing-unpublished {
    @include standard_shadow;
    background: #ff000044;
  }
}

footer {
  background: $head_foot_background;
  border-top: 1px solid $head_foot_border_colour;
  padding-top: 5px;
  padding-bottom: 5px;

  section.footer_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  section.footer_suffix {
    text-align: center;
    font-size: 80%;
    margin: 5px auto;
  }
}

a {
  word-break: break-word;
  text-decoration: none;
  color: $nav_link_base_colour;
}

a:visited {
  color: $nav_link_visited_colour;
}

a:not(.article-link):hover, a:hover div.article-date-and-heading-container {
  color: lighten($nav_link_base_colour, 50%);
  text-decoration: underline;
}

a.article-link:hover img {
  transition: transform 100ms;
  transform: scale(105%);
}

a.article-link:hover div.article-summary {
  color: lighten($nav_link_base_colour, 50%);
  text-decoration: none !important;
}

a.bold_button {
  display: inline-block;
  box-sizing: border-box;
  padding: 16px 20px 14px 20px;
  border-radius: 3px;
  line-height: 1;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 90%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #282828;
  transition: 0.2s opacity linear;
}

a.bold_button:hover {
  opacity: 0.8;
  text-decoration: none;
  color: #fff;
}

nav {
  a, a:visited {
    color: $nav_link_base_colour;
  }

  a:hover {
    color: lighten($nav_link_base_colour, 50%);
  }

  &.main_menu {
    text-align: right;

    h1#navigation_title {
      margin: 0;
    }

    div.pure-menu-horizontal {
      overflow: visible !important;

      ul.pure-menu-list {
        li.pure-menu-item {
          a {
            display: inline-block;
            padding: 0;
            text-decoration: none;
            font-size: 25px;
          }

          a:hover {
            background: none; // (override pure-menu default)
          }

          &.current {
            // margin-bottom: -2px;
            // border-bottom: 2px solid rgba( 0, 0, 0, 0.2 );
            // padding-right: 10px;
          }

          &.current > a {
            font-weight: 600 !important;
          }

          &:first-child > a {
            padding-left: 0;
          }

          ul.pure-menu-children {
            text-align: left;
            border: 1px solid $head_foot_border_colour;
            border-radius: 5px;
            padding: 5px 10px;
          }
        }

        > li.pure-menu-item:not(:first-child) > a:before {
          display: inline-block;
          content: "/";
          font-weight: normal;
          padding: 0 15px;
        }
      }
    }
  }

  &.social_menu {
    line-height: 100%;

    a, a:visited {
      display: inline-block;
      padding-left: 20px;
      font-size: 2.5em;
      opacity: 0.9;
    }
  }

  &.cms_menu {
    line-height: 125%;
  }
}

//////////////////////////////////////////////////////////////////////////////
// Bespoke widget overrides
//////////////////////////////////////////////////////////////////////////////

// https://fouita.com/embed-instagram-feed-free
//
#ft-insta-app .ft-sff .break-all {
  word-break: normal;
}

//////////////////////////////////////////////////////////////////////////////
// Medium width viewport
//////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width: $container_width_mid + 30px) and (max-width: $container_width + 40px) {
  section.header_content,
  section.main_content,
  section.footer_content,
  section.footer_suffix {
    @include content_metrics_mid;
  }

  header {
    #logo {
      width: 147px;
      height: 147px;
    }
  }

  main, .redactor-box.redactor-styles-on {
    iframe:not([src*='www.recaptcha.net']):not([title='widget']) {
      @include widescreen_video_block_mid;
    }

    img {
      max-width: $content_width_mid !important;
      height: auto !important;
    }

    section.blog-articles {
      article.article {
        .article-date-and-heading-container {
          flex-wrap: wrap;
        }

        .article-date {
          padding-left: 0;
          margin-bottom: 5px;
        }
      }
    }
  }

  footer {
    section.footer_content {
      font-size: 80%;
      white-space: nowrap;
    }

    section.footer_suffix {
      font-size: 70%;
    }
  }

  nav {
    &.main_menu {
      a {
        font-size: 14pt;
      }
    }

    &.social_menu {
      a {
        padding-left: 10px;
        font-size: 2em;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
// Narrow viewport
//////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width: $container_width_narrow + 20px) and (max-width: $container_width_mid + 30px) {
  section.header_content,
  section.main_content,
  section.footer_content,
  section.footer_suffix {
    @include content_metrics_narrow;
  }

  header {
    #logo {
      width: 120px;
      height: 120px;
    }
  }

  main, .redactor-box.redactor-styles-on {
    iframe:not([src*='www.recaptcha.net']):not([title='widget']) {
      @include widescreen_video_block_narrow;
    }

    img {
      max-width: $content_width_narrow !important;
      height: auto !important;
    }

    section.blog-articles {
      grid-template-columns: 1fr 1fr;

      article.article:only-child {
        margin-left: 0;
      }
    }
  }

  footer {
    section.footer_content,
    section.footer_suffix {
      font-size: 60%;
    }
  }

  nav {
    &.social_menu {
      a {
        padding-left: 10px;
        font-size: 1.8em;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
// Mobile viewport
//////////////////////////////////////////////////////////////////////////////

@media only screen and (max-width: $container_width_narrow + 20px) {
  section.header_content,
  section.main_content,
  section.footer_content,
  section.footer_suffix {
    @include content_metrics_mobile;
    flex-direction: column !important;
  }

  header {
    #logo {
      width: 80px;
      height: 80px;
    }
  }

  main, .redactor-box.redactor-styles-on {
    iframe:not([src*='www.recaptcha.net']):not([title='widget']) {
      @include widescreen_video_block_mobile;
    }

    img {
      max-width: $content_width_mobile !important;
      height: auto !important;
    }

    section.blog-articles {
      grid-template-columns: 1fr;

      article.article {
        width: $content_width_mobile;
      }

      article.article:only-child {
        margin-left: 0;
      }
    }
  }

  footer {
    section.footer_content,
    section.footer_suffix {
      font-size: 60%;
    }
  }

  footer.admin {
    section.footer_content,
    section.footer_suffix {
      font-size: 100%;
      flex-direction: row !important;
    }
  }

  nav {
    &.main_menu {
      text-align: center;

      div.pure-menu-horizontal {
        ul.pure-menu-list {
          padding-top: 10px;

          a {
            padding-left: 10px !important;
            padding-right: 10px !important;
          }

          > li.pure-menu-item:not(:first-child) > a:before {
            display: none;
          }
        }
      }
    }

    &.social_menu {
      margin-top: 5px;
      a {
        padding-left: 0;
        font-size: 1.8em;
      }
    }
  }

  figure {
    float: none !important;
    margin: 10px auto !important;
    width: 100% !important;
    max-width: 100% !important;

    figcaption {
      width: 100%;
    }
  }

  div.two_column {
    grid-template-columns: 100fr;
    row-gap: 1em;
  }
}
