@import 'config/variables';
@import 'config/mixins';
@import 'yui/pure-menus-min';

//////////////////////////////////////////////////////////////////////////////
// Shared styles
//////////////////////////////////////////////////////////////////////////////

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto; // (Sections - header, main, footer)
  min-height: 100vh;
  color: $base_colour;
  background: $base_background;
  text-wrap: pretty;
}

body, .redactor-styles {
  font-size: $base_font_size;
  font-family: $primary_font_family;
  font-weight: $primary_font_weight;

  p {
    line-height: $base_paragraph_line_height;
  }

  h1 {
    font-weight: $h1_font_weight;
    color: $h1_and_figure_colour;
  }

  h2, h3, h4, h5, h6, nav a {
    font-family: $secondary_font_family;
    font-weight: $secondary_font_weight;
  }

  h1 { font-size: 30px; margin: $h1_margin 0; }
  h2 { font-size: 28px; margin: $h2_margin 0; }
}

hr {
  border: none;
  border-top: 1px solid $head_foot_border_colour;
}

figcaption {
  margin-top: 0.5em;
  font-style: italic;
  font-size: 80%;
  text-transform: uppercase;
  display: inline-block;
  width: 80%;
  color: $h1_and_figure_colour;
}

div.two_column {
  display: grid;
  grid-template-columns: 50fr 50fr;
  column-gap: 40px;

  input[type="text"]:not(.not_full_width_in_two_column),
  textarea:not(.not_full_width_in_two_column) {
    width: 100%;
  }
}

form div.field {
  margin-bottom: 1em;
}

form div.field div.field-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

form div.field div.checkbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-after;
  gap: 7px;
  align-items: baseline;
}

div.row-wide-column-small-container {
  @include standard_shadow;

  border: 1px solid $head_foot_border_colour;
  background: $head_foot_background;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 1em;
}

div.row-wide-column-small {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1em;

  // Match input field height and padding to balance out line spacing.
  //
  span {
    line-height: 150%;
    margin: 5px 0;
    flex-grow: 1;
  }
}

input, select, button {
  font-size: 14pt;
  line-height: 150%;
  margin: 5px 0;
}

select {
  min-height: 36px;
}

input {
  border: 1px solid black;
  padding: 2px 5px;
  box-sizing: border-box;
}

label {
  display: block;
}

textarea {
  margin: 5px 0;
  font-size: 12pt;
  max-width: 100%;
}

select {
  max-width: 100%;
}

input[type="file"] {
  font-size: 12pt;
}

input[type="number"] {
  width: 5em;
}

input[type="file"] {
  border: none;
  padding: 0;
}

              button:not(.bold_button),
input[type='submit']:not(.bold_button),
input[type="file"]::-webkit-file-upload-button {
  font-size: 14pt;
  border-radius: 5px;
  border: 1px solid #888;
  color: #000;
  background-image: linear-gradient(to top, #eee 0%, #fff 100%);
  padding: 5px 10px;

  &:hover {
    background: #ddd;
  }
}

button {
  &.confirm {
    box-shadow: 0 0 3px #8f8;
  }

  &.cancel {
    box-shadow: 0 0 3px #f88;
  }

  &[name="publish"] {
    box-shadow: 0 0 5px 0 green;
  }

  &[name="submit"] {
    box-shadow: 0 0 5px 0 orange;
  }
}

tr.children input[type="submit"] {
  background-image: linear-gradient(to top, #bdb 0%, #cec 100%);

  &:hover {
    background: #aca;
  }
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

div.actions {
  display: flex;
  align-items: center;
  margin: 1em 0;
  gap: 0.5em;

  button, input {
    white-space: nowrap;
  }

  &.with_note {
    div.note {
      color: #800;
      font-size: 85%;

      &:before {
        content: "Note: ";
        font-weight: bold;
      }
    }
  }
}

.field_with_errors {
  input, textarea {
    border: 1px dashed red;
  }
}

.field_error_messages {
  color: #800;
  font-size: small;
  font-style: italic;
}

.form_field_label_required {
  font-size: smaller;
  font-weight: bold;
  padding-left: 0.5em;
}

.form_field_label_optional, .form_field_label_hint {
  font-size: smaller;
  font-weight: normal;
  font-style: italic;
  padding-left: 0.5em;
}

.form_field_label_hint:before {
  content: "(";
}

.form_field_label_hint:after {
  content: ")";
}

header,
main,
footer {
  width: 100%;
  margin: 0;
}

.redactor-styles.redactor-in {
  width: 100%;
  margin: 0;
}

section.header_content,
section.main_content,
section.footer_content,
section.footer_suffix {
  @include content_metrics;
}

dl dt { font-weight: bold; }
dl dd:not(:last-child) { margin-bottom: 1em; }

header {
  background: $head_foot_background;
  border-bottom: 1px solid $head_foot_border_colour;
  padding-top: 20px;
  padding-bottom: 20px;

  section.header_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    #logo {
      // ...no special styles yet...
    }
  }
}

section.messages, div#error_explanation {
  padding: 0 10px;
  background: #eef;
  border: 1px solid #00f;
  color: #00f;
  font-size: 125%;
  font-weight: bold;
  margin-bottom: 1em;
}

article.article,
article.event {
  section.article-header,
  section.event-header {
    border-top:    1px dotted #999;
    border-bottom: 1px dotted #999;
    margin-bottom: 20px;
  }

  .article-date-and-heading-container,  .event-date-and-heading-container,
  .article-summary-and-links-container, .event-summary-and-links-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    margin-top: 5px;
  }

  .article-summary-and-links-container {
    align-items: start;
    margin-bottom: 1em;
  }

  .event-summary-and-links-container {
    align-items: center;
    margin: 0.6em 0;
  }

  .article-date, .event-date-and-location {
    font-size: small;
    margin: 0;
    padding-left: 5px;
    text-align: right;
  }

  .event-date-and-location {
    font-size: inherit;
    font-weight: bold;

    .event-location {
      font-style: normal;
      font-weight: normal;
      font-size: small;
    }
  }

  .article-heading, .event-heading {
    margin: 5px 0;
  }

  .article-summary, .event-summary {
    font-size: smaller;
    font-style: italic;
  }

  .article-next-prev, .event-next-prev {
    font-size: 18px;
    line-height: 110%;
    text-align: right;
    text-wrap: nowrap;

    a {
      text-decoration: none;
    }
  }
}

section.blog-articles,
section.events {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;

  article.article,
  article.event {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 1;
      border-radius: 0.5em;
    }
  }

  &.with-poster-grid article.article img,
  &.with-poster-grid article.event   img {
    aspect-ratio: 2/3;
  }
}

main, .redactor-box.redactor-styles-on {
  border: none;

  .redactor-styles.redactor-in,
  div.above-clear {
    & > h1:first-child,
    & > h2:first-child,
    & > h3:first-child,
    & > h4:first-child,
    & > h5:first-child,
    & > h6:first-child,
    & >  p:first-child {
      margin-top: 20px;
    }
  }

  section.main_content {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  img {
    max-width: $content_width;
    height: auto !important;
  }

  img:not(.no_spinner), iframe:not(.no_spinner) {
    @include standard_spinner;
  }

  figure:not(.no_shadow):not(.no_decorations) > img:not(.no_shadow):not(.no_decorations),
  iframe:not(.no_shadow):not(.no_decorations) {
    @include standard_shadow;
  }

  iframe[allowtransparency='true'], iframe.tickets {
    background-image: none !important;
    border: none !important;
  }

  /* The booking form frame JavaScript adds and removes this class
   * when the initial form fields are filled in and "buy" button used.
   */

  iframe.tickets.fullscreen-overlay {
    position: fixed !important;
    margin: 0 !important;
    padding: 5px !important;
    height: 99% !important;
    width: 100% !important;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    background: rgba(0, 0, 0, 0.8) !important;
    z-index: 999;
    overflow: auto;
  }

  /* No-decoration arbitrary content iframes are square by default; to
   * match bespoke content height, use an inline CSS declaration -
   * <iframe ... style="height: 400px" ...> - though it won't be
   * responsive.
   */

  iframe.no_decorations {
    margin-left: auto;
    margin-right: auto;
    width: $content_width;
    height: $content_width;
    overflow: hidden;
  }

  /* Most Redactor object containers are usually <figure> */

  figure {
    margin: 0.4em 0 1em 0; // (~align to top of text lines when floated)
    padding: 0;
    border-radius: 0.3em;

    &.float_left,
    &[style*="float: left"],
    &[style*="float:left"] {
      float: left;
      margin-right: 2em;
    }

    &.float_right,
    &[style*="float: right"],
    &[style*="float:right"] {
      float: right;
      margin-left: 2em;
    }

    > img, > a > img:only-child {
      border-radius: 0.3em;
    }
  }

  /* Redactor doesn't understand an iframe wrapped in any containers so
   * we just have to make do with hard-coded sizes on an assumption of a
   * 16:9 video inside any such frame, or something where 16:9 is an
   * acceptable ratio.
   */

  figure[data-redactor-type='video'] iframe {
    @include widescreen_video_block;
    @include standard_shadow;
  }

  figure[data-redactor-type='widget'] {
    > iframe {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .redactor-styles.redactor-in,
  div.above-clear {

    /* Inside the editor or content before-float-clear wrapper DIV,
     * for the last image inside the last paragraph, or for the last
     * image directly without a wrapping paragraph, adjust the
     * top/bottom margins a bit for better spacing with shadows. Use
     * "!important" to override inline styles set by Redactor in for
     * this special case.
     */

    p:last-child > img:not( [ class = 'no_shadow' ] ):last-child,
    &            > img:not( [ class = 'no_shadow' ] ):last-child {
      margin-top:    15px !important;
      margin-bottom: 15px !important;
    }

    /* Further, for the last image that isn't inside a paragraph
     * whether or not it has a shadow ensure spacing to any footer
     * content. If there's a wrapping paragraph, that ensure
     * enough space by itself. This stuff won't always work inside
     * the Redactor editor due to extra control containers it adds,
     * but it catches some cases and gives reasonable results.
     */

    & > img:last-child {
      margin-bottom: 35px !important;
    }
  }

  article.event-order-form-container {
    display: grid;
    grid-template-columns: 65% 35%;

    section.event-order-poster {
      margin-left: 1em;
      a {
        display: inline-block;
        margin-top: $h1_margin; /* Assumes use of H1 at start of form */

        img {
          width: 100%;
          border-radius: 0.3em;
        }
      }
    }
  }
}

div#publishing-info {
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.3em 0.8em;
  border: 1px solid $head_foot_border_colour;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 80%;
  backdrop-filter: blur(7px);

  button, select {
    font-size: 100%;
  }

  &.publishing-published {
    @include standard_shadow;
    background: #007e0044;
  }

  &.publishing-current {
    @include standard_shadow;
    background: #ffa50044;
  }

  &.publishing-unpublished {
    @include standard_shadow;
    background: #ff000044;
  }
}

footer {
  background: $head_foot_background;
  border-top: 1px solid $head_foot_border_colour;
  padding-top: 5px;
  padding-bottom: 5px;

  section.footer_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  section.footer_suffix {
    text-align: center;
    font-size: 80%;
    margin: 5px auto;
  }
}

a {
  text-decoration: none;
  color: $nav_link_base_colour;
}

a:visited {
  color: $nav_link_visited_colour;
}

a:not(.article-link):not(.event-link):not(.bold_button):hover,
a:hover div.article-date-and-heading-container,
a:hover   div.event-date-and-heading-container {
  color: lighten($nav_link_base_colour, 50%);
  text-decoration: underline;
}

a.article-link:hover img, a.event-link:hover img {
  transition: transform 100ms;
  transform: scale(105%);
}

a.article-link:hover div.article-summary, a.event-link:hover div.event-summary {
  color: lighten($nav_link_base_colour, 50%);
  text-decoration: none !important;
}

                   a.bold_button,
              button.bold_button,
input[type="submit"].bold_button {
  display: inline-block;
  box-sizing: border-box;
  padding: 16px 20px 14px 20px;

  color: #fff;
  background: #282828;
  border: 1px solid #282828;
  border-radius: 3px;

  line-height: 1;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 90%;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

  transition: opacity 0.2s ease-out;
}

                   a.bold_button:hover,
              button.bold_button:hover,
input[type="submit"].bold_button:hover {
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

nav {
  a, a:visited {
    color: $nav_link_base_colour;
  }

  a:hover {
    color: lighten($nav_link_base_colour, 50%);
  }

  &.main_menu {
    text-align: right;

    h1#navigation_title {
      margin: 0;
    }

    div.pure-menu-horizontal {
      overflow: visible !important;

      ul.pure-menu-list {
        li.pure-menu-item {
          a {
            display: block;
            padding: 0;
            text-decoration: none;
            font-size: 25px;
          }

          a:hover {
            background: none; // (override pure-menu default)
          }

          &.current {
            // margin-bottom: -2px;
            // border-bottom: 2px solid rgba( 0, 0, 0, 0.2 );
            // padding-right: 10px;
          }

          &.current > a {
            font-weight: 600 !important;
          }

          &:first-child > a {
            padding-left: 0;
          }

          ul.pure-menu-children {
            left: auto;
            right: 0;
            text-align: left;
            border: 1px solid $head_foot_border_colour;
            border-radius: 5px;
            padding: 5px 10px;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
          }
        }

        > li.pure-menu-item:not(:first-child) > a:before {
          display: inline-block;
          content: "/";
          font-weight: normal;
          padding: 0 15px;
        }

        > li.pure-menu-item:not(:first-child) > a:hover::before {
          color: $nav_link_base_colour;
        }
      }
    }
  }

  &.social_menu {
    line-height: 100%;

    a, a:visited {
      display: inline-block;
      padding-left: 20px;
      font-size: 2.5em;
      opacity: 0.9;
    }
  }

  &.cms_menu {
    line-height: 125%;
  }
}

//////////////////////////////////////////////////////////////////////////////
// Bespoke widget overrides
//////////////////////////////////////////////////////////////////////////////

// https://fouita.com/embed-instagram-feed-free
//
#ft-insta-app .ft-sff .break-all {
  word-break: normal;
}

//////////////////////////////////////////////////////////////////////////////
// Medium width viewport
//////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width: $container_width_mid + 30px) and (max-width: $container_width + 40px) {
  section.header_content,
  section.main_content,
  section.footer_content,
  section.footer_suffix {
    @include content_metrics_mid;
  }

  header {
    #logo {
      width: 147px;
      height: 147px;
    }
  }

  main, .redactor-box.redactor-styles-on {
    iframe:not([src*='www.recaptcha.net']):not([title='widget']) {
      @include widescreen_video_block_mid;
    }

    figure, img {
      max-width: $content_width_mid !important;
      height: auto !important;
    }

    section.blog-articles,
    section.events {
      article.article,
      article.event {
        .article-date-and-heading-container,  .event-date-and-heading-container,
        .article-summary-and-links-container, .event-summary-and-links-container {
          flex-wrap: wrap;
        }

        .article-date, .event-date-and-location {
          padding-left: 0;
          margin-bottom: 5px;
        }
      }
    }
  }

  footer {
    section.footer_content {
      font-size: 80%;
      white-space: nowrap;
    }

    section.footer_suffix {
      font-size: 70%;
    }
  }

  nav {
    &.main_menu {
      a {
        font-size: 14pt;
      }
    }

    &.social_menu {
      a {
        padding-left: 10px;
        font-size: 2em;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
// Narrow viewport
//////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width: $container_width_narrow + 20px) and (max-width: $container_width_mid + 30px) {
  section.header_content,
  section.main_content,
  section.footer_content,
  section.footer_suffix {
    @include content_metrics_narrow;
  }

  header {
    #logo {
      width: 120px;
      height: 120px;
    }
  }

  main, .redactor-box.redactor-styles-on {
    iframe:not([src*='www.recaptcha.net']):not([title='widget']) {
      @include widescreen_video_block_narrow;
    }

    figure, img {
      max-width: $content_width_narrow !important;
      height: auto !important;
    }

    section.blog-articles,
    section.events {
      grid-template-columns: 1fr 1fr;

      article.article:only-child,
      article.event:only-child {
        margin-left: 0;
      }
    }
  }

  footer {
    section.footer_content,
    section.footer_suffix {
      font-size: 60%;
    }
  }

  nav {
    &.social_menu {
      a {
        padding-left: 10px;
        font-size: 1.8em;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
// Mobile viewport
//////////////////////////////////////////////////////////////////////////////

@media only screen and (max-width: $container_width_narrow + 20px) {
  section.header_content,
  section.main_content,
  section.footer_content,
  section.footer_suffix {
    @include content_metrics_mobile;
    flex-direction: column !important;
  }

  header {
    #logo {
      width: 80px;
      height: 80px;
    }
  }

  div.row-wide-column-small {
    flex-direction: column;
    gap: 5px;
  }

  main, .redactor-box.redactor-styles-on {
    iframe:not([src*='www.recaptcha.net']):not([title='widget']) {
      @include widescreen_video_block_mobile;
    }

    div.actions {
      flex-direction: column;
      align-items: stretch;
    }

    figure, img {
      max-width: $content_width_mobile !important;
      height: auto !important;
    }

    section.blog-articles,
    section.events {
      grid-template-columns: 1fr;

      article.article,
      article.event {
        width: $content_width_mobile;
      }

      article.article:only-child,
      article.event:only-child {
        margin-left: 0;
      }
    }

    article.article,
    article.event {
      .article-summary-and-links-container,
      .event-summary-and-links-container {
        align-items: center;

        .article-next-prev,
        .event-next-prev {
          text-wrap: wrap;
        }
      }
    }

    article.event {
      div.event-date-and-heading-container,
      div.event-summary-and-links-container,
      div.event-date-and-location {
        flex-direction: column;
        text-align: center;
      }

      div.event-next-prev {
        display: none;
      }

      div.event-summary {
        margin-top: 0.8em;
      }
    }

    article.event-order-form-container {
      display: block;

      section.event-order-poster {
        display: none;
      }
    }
  }

  footer {
    section.footer_content,
    section.footer_suffix {
      font-size: 60%;
    }
  }

  footer.admin {
    section.footer_content,
    section.footer_suffix {
      font-size: 100%;
      flex-direction: row !important;
    }
  }

  nav {
    &.main_menu {
      text-align: center;

      div.pure-menu-horizontal {
        ul.pure-menu-list {
          padding-top: 10px;

          a {
            padding-left: 10px !important;
            padding-right: 10px !important;
          }

          > li.pure-menu-item:not(:first-child) > a:before {
            display: none;
          }
        }
      }
    }

    &.cms_menu {
      font-size: 1.5em;
    }

    &.social_menu {
      margin-top: 5px;
      a {
        padding-left: 0;
        font-size: 3em;
      }
    }
  }

  figure {
    float: none !important;
    margin: 10px auto !important;
    width: 100% !important;
    max-width: 100% !important;

    figcaption {
      width: 100%;
    }
  }

  div.two_column {
    grid-template-columns: 100fr;
    row-gap: 1em;
  }
}

//////////////////////////////////////////////////////////////////////////////
// Printed output
//////////////////////////////////////////////////////////////////////////////

@media print {
  html, body {
    display: block;
    height: auto;
    min-height: auto;
  }

  body {
    zoom: 0.75;
  }

  a.print_button {
    display: none;
  }

  section.header_content,
  section.main_content,
  section.footer_content,
  section.footer_suffix {
    @include content_metrics_print;
  }
}
