//= require components/fonts
//= require components/redactor
//= require components/shared

body {
  background: #ccc;
}

div.redactor-container {
  min-width: 800px;
  overflow: scroll;
}

#redactor_toolbar {
  background: white;
  padding: 3px 3px 0 3px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.redactor_container {
  box-shadow: 0 0 5px 5px #fff;
  background: #fff;
  margin-top: 1em;
}

.redactor-styles.redactor-in {
  position: static;
  background: transparent;
  border: none;
  box-sizing: content-box !important;
  padding: 0;
}

.redactor-toolbar a.re-spacer {
  border: none;
  box-shadow: none;
  cursor: auto;
  padding: 0 7.5px;
}

.redactor-toolbar a.re-spacer:hover {
  background: none;
}

header.admin, footer.admin {
  border: none;
}

main.admin {
  background: rgba( 255, 255, 255, 0.8 );
  border-radius: 4px;
  box-shadow: 0 0 10px #fff;

  table {
    border-collapse: collapse;

    th {
      text-align: left;
      padding-bottom: 5px;
    }

    td.centre, th.centre {
      text-align: center;
    }

    td {
      border: 1px solid #888;
      padding: 3px;
    }

    tr.odd          { background:         rgba( 255, 255, 255, 0.7 ); }
    tr.children     { background: darken( rgba( 210, 255, 210, 0.8 ), 10% ); font-style: italic; }
    tr.children.odd { background:         rgba( 210, 255, 210, 0.7 ); }
  }
}

footer.admin {
  padding: 20px 0;

  section.footer_content {
    justify-content: center;
    gap: 10px;
  }
}

label {
  font-weight: bold;
}
