//= require components/fonts
//= require components/redactor
//= require components/shared

@import 'config/variables';

body {
  background: #ccc;
}

div.redactor-container {
  min-width: 800px;
  overflow: scroll;
}

#redactor_toolbar {
  background: white;
  padding: 3px 3px 0 3px;
  border-radius: 3px;
  margin-bottom: 5px;

  .redactor-toolbar-external {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;

    a.re-button {
      margin: 0 !important;
      text-decoration: none;
    }
  }
}

.redactor_container {
  box-shadow: 0 0 5px 5px #fff;
  background: #fff;
  margin-top: 1em;
}

.redactor-styles.redactor-in {
  position: static;
  background: transparent;
  border: none;
  box-sizing: content-box !important;
  padding: 0;
}

.redactor-toolbar a.re-spacer {
  border: none;
  box-shadow: none;
  cursor: auto;
  padding: 0 7.5px;
}

.redactor-toolbar a.re-spacer:hover {
  background: none;
}

header.admin, footer.admin {
  border: none;
}

main.admin {
  background: rgba( 255, 255, 255, 0.8 );
  border-radius: 4px;
  box-shadow: 0 0 10px #fff;

  a {
    text-decoration: underline;
  }

  #admin-header-main {
    margin-bottom: 0;
  }

  #admin-header-with-nav {
    display: flex;
    align-items: baseline;
    gap: 1em;

    nav a {
      text-decoration: none;
    }
  }

  textarea {
    font-family: $primary_font_family;
  }

  fieldset {
    margin: 1.25em 0 1.5em 0;
    border: 1px solid $head_foot_border_colour;
    border-radius: 4px;

    legend            { margin-bottom: 0.5em; }
    button, label     { font-size: 85%; }
    .field.valign-row { margin-bottom: 0; }

    .remove_encounter_order_item_button,
    .destroy_encounter_order_item_button {
      margin-left: auto;
    }

    div.encounter_order_item {
      padding: 1px 5px;
    }

    div.encounter_order_item:nth-of-type(odd) {
      background: #0000000f;
    }
  }

  table {
    border-collapse: collapse;

    &.full_width {
      width: 100%;
    }

    th {
      text-align: left;
      padding-bottom: 5px;
    }

    td {
      padding-top: 3px;
      padding-bottom: 3px;
    }

    td.centre, th.centre {
      text-align: center;
    }

    td.admin_actions {
      text-wrap: nowrap;

      &.for_delete {
        padding-left: 1em;
        text-align: right;
      }
    }

    td, th {
      padding-left: 5px;
      padding-right: 5px;
    }

    td:first-child, th:first-child {
      padding-left: 10px;
    }

    td:last-child, th:last-child {
      padding-right: 10px;
    }

    tbody > tr {
      border-top: 1px solid #888;
    }

    tbody > tr:last-child {
      border-bottom: 1px solid #888;
    }

    tr { height: 50px; }

    tr.even          { background: rgb( 255, 255, 255 ); }
    tr.odd           { background: rgb( 250, 250, 250 ); }
    tr.children.even { background: rgb( 220, 255, 220 ); }
    tr.children.odd  { background: rgb( 220, 245, 220 ); }

    tr.event-state-archived td.event-title,
    tr.event-state-archived td.event-starts-at {
      color: #888;
    }

    tr.event-state-cancelled td.event-title,
    tr.event-state-cancelled td.event-starts-at {
      text-decoration: line-through;
    }

    td.event-title div.event-state {
      margin-top: 2px;
      font-size: 70%;
      color: #888;
    }
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-bottom: 0.5em;
  }

  code {
    font-size: 80%;
    line-height: 150%;
    font-family: "Menlo", monospace;
  }

  span.boolean_no {
    font-weight: bold;
  }

  span.boolean_no_warn {
    color: darkred;
  }

  span.boolean_yes_highlight, span.boolean_no_highlight {
    font-weight: bold;
    color: darkred;
  }

  code.statistic-path {
    word-break: break-all;
  }

  div.field_with_errors div.redactor-box {
    border: 1px dashed red;
    margin-bottom: 10px;
  }

  .animation-container {
    margin: 0 !important;
    padding: 0 !important;
  }

  button.accessory {
    line-height: 125%;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    background-image: linear-gradient(to top, #d2d0d0 0%, #f0f0f0 100%)
  }

  .contains-form-element-with-help {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    &:has(details[open]) {
      align-items: flex-start;
    }

    details {
      margin: 5px 0.5em;

      dl {
        font-size: smaller;
      }

      // Roughly match the height of a typical input field alongside to reduce
      // the ammount of vertical movement when the summary is expanded and the
      // vertical alignment changes from "center" to "flex-start".

      summary {
        line-height: 36px;
      }
    }
  }

  div.valign-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
  }
}

footer.admin {
  padding: 20px 0;

  section.footer_content {
    justify-content: center;
    gap: 10px;

    div.extra_footer_links {
      margin-right: auto;
    }
  }
}

label {
  font-weight: bold;
}

@media only screen and (max-width: $container_width_narrow + 20px) {
  footer.admin {
    section.footer_content {
      display: block !important;
      text-align: center;

      div.extra_footer_links {
        display: inline-block;
        margin: 0 0 1em 1em;
      }
    }
  }
}
