@import 'shared.scss';

body {
  background: #061923 url( 'background.jpg' ) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pure-menu-horizontal {
  white-space: normal;
}