@import 'yui/pure-menus-min.scss';

//////////////////////////////////////////////////////////////////////////////
// Fonts
//////////////////////////////////////////////////////////////////////////////

@import url( 'https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' );

@font-face {
  font-family: 'TrajanPro-bold';
  src: url( 'TrajanPro-Bold.ttf' );
}

//////////////////////////////////////////////////////////////////////////////
// Variables
//////////////////////////////////////////////////////////////////////////////

$container_width: 800px;
$content_width: 600px;
$content_padding_lr: 50px;

$container_width_mid: $container_width / 1.5;
$content_width_mid: $content_width / 1.5;
$content_padding_lr_mid: $content_padding_lr / 1.5;

$container_width_narrow: $container_width / 2;
$content_width_narrow: $content_width / 2;
$content_padding_lr_narrow: $content_padding_lr / 2;

@mixin content_metrics {
  width: $content_width;
  margin: 0;
  padding: 0 $content_padding_lr 0 $content_padding_lr;
}

@mixin content_metrics_mid {
  width: $content_width_mid;
  margin: 0;
  padding: 0 $content_padding_lr_mid 0 $content_padding_lr_mid;
}

@mixin content_metrics_narrow {
  width: $content_width_narrow;
  margin: 0;
  padding: 0 $content_padding_lr_narrow 0 $content_padding_lr_narrow;
}

@mixin standard_shadow {
  -webkit-box-shadow: 0px 0px 5px 2px rgba( 0, 0, 0, 0.25 );
  -moz-box-shadow: 0px 0px 5px 2px rgba( 0, 0, 0, 0.25 );
  box-shadow: 0px 0px 5px 2px rgba( 0, 0, 0, 0.25 );
}

@mixin no_shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@mixin standard_spinner {
  background: url( '/assets/spinner.png' ) center center no-repeat;
}

//////////////////////////////////////////////////////////////////////////////
// Shared styles
//////////////////////////////////////////////////////////////////////////////

body {
  font-size: 14pt;

  h1, h2, h3, h4, h5, h6, nav a {
    font-weight: bold;
    font-family: "TrajanPro-Bold", serif;
  }

  h1 {
    font-size: 27pt;
  }
}

input, select {
  font-size: 14pt;
  line-height: 150%;
  margin: 5px 0;
}

textarea {
  margin: 10px 20px 0 0;
  font-size: 12pt;
  max-width: 100%;
}

select {
  margin-right: 20px;
  max-width: 100%;
}

section.header, section.footer, section.main, .redactor-editor {
  width: $container_width;
  margin: 0 auto;
  font-family: 'Lora', serif;
}

section.header {
  position: relative;
  height: 191px;
  background: url( 'clipboard_top_slice.png' ) bottom center no-repeat;
  background-size: 100%;

  #logo {
    position: absolute;
    top: 77px;
    left: 30px;
  }

  nav {
    position: absolute;
    top: 91px;
    right: 180px;

    a, a:visited {
      display: inline-block;
      padding-left: 20px;
      color: #332d18;
      font-size: 2.5em;
      opacity: 0.9;
    }

    a:hover {
      color: #534d38;
    }
  }
}

section.main, .redactor-box {
  min-height: 352px;
  color: #000;

  .redactor-editor,
  div.above-clear {
    & > h1:first-child,
    & > h2:first-child,
    & > h3:first-child,
    & > h4:first-child,
    & > h5:first-child,
    & > h6:first-child,
    & >  p:first-child {
      margin-top: 20px;
    }
  }

  /* Without this, WebKit completely destroys the layout assigning large
   * tracts of white space either above, and/or below the section.main block.
   * Firefox shows no such issues and there's no logic to it, as indeed
   * adding in this transparent border shows.
   */

  border-bottom: 1px solid transparent;
  margin-bottom: -1px;

  background: url( 'clipboard_mid_slice.png' ) 0 0 no-repeat;
  background-size: 800px 100%;

  nav, section.content, .redactor-editor {
    @include content_metrics;
  }

  nav {

    padding-top: 20px;
    padding-bottom: 25px;
    text-align: center;

    .pure-menu-horizontal {
      overflow: visible !important;

      li {
        text-align: left;
        a { padding-top: 4px; }

        &.current_page {
          margin-bottom: -2px;
          border-bottom: 2px solid rgba( 0, 0, 0, 0.2 );
        }
      }
    }

    a {
      display: inline-block;
      padding: 0 10px;
      text-decoration: none;
      color: #332d18;
      font-size: 18pt;
    }
  }

  img {
    @include standard_shadow;
    @include standard_spinner;
  }

  img[ align = 'right' ] {
    margin: 0 10px 10px 0;
  }

  img[ align = 'left' ] {
    margin: 0 0 10px 10px;
  }

  /* Redactor doesn't understand an iframe wrapped in any containers so
   * we just have to make do with hard-coded sizes on an assumption of a
   * 16:9 video inside any such frame, or something where 16:9 is an
   * acceptable ratio.
   */

  iframe:not([title='recaptcha widget']):not(.no_decorations) {
    margin-left: auto;
    margin-right: auto;
    width: $content_width * 0.85333333333;
    height: ( ( $content_width * 0.85333333333 ) * 9 ) / 16;

    @include standard_shadow;
    @include standard_spinner;
  }

  /* No-decoration arbitrary content iframes are square by default; to
   * match bespoke content height, use an inline CSS declaration -
   * <iframe ... style="height: 400px" ...> - though it won't be
   * responsive.
   */

  iframe.no_decorations {
    margin-left: auto;
    margin-right: auto;
    width: $content_width;
    height: $content_width;
    overflow: hidden;
  }

  img.no_shadow, iframe.no_shadow {
    @include no_shadow;
  }

  .redactor-editor,
  div.above-clear {

    /* Inside the editor or content before-float-clear wrapper DIV,
     * for the last image inside the last paragraph, or for the last
     * image directly without a wrapping paragraph, adjust the
     * top/bottom margins a bit for better spacing with shadows. Use
     * "!important" to override inline styles set by Redactor in for
     * this special case.
     */

    p:last-child > img:not( [ class = 'no_shadow' ] ):last-child,
    &            > img:not( [ class = 'no_shadow' ] ):last-child {
      margin-top:    15px !important;
      margin-bottom: 15px !important;
    }

    /* Further, for the last image that isn't inside a paragraph
     * whether or not it has a shadow ensure spacing to any footer
     * content. If there's a wrapping paragraph, that ensure
     * enough space by itself. This stuff won't always work inside
     * the Redactor editor due to extra control containers it adds,
     * but it catches some cases and gives reasonable results.
     */

    & > img:last-child {
      margin-bottom: 35px !important;
    }
  }
}

section.footer {
  height: 134px;
  background: url( 'clipboard_bottom_slice.png' ) top center no-repeat;
  background-size: 100%;

  section.footer_content {
    @include content_metrics;
    text-align: center;

    font-size: 80%;

    a {
      text-decoration: none;
      border-bottom: 1px solid rgba( 0, 0, 0, 0.2 );
    }
  }
}

section.content, section.footer {
  a {
    padding: 1px;
    color: #332d18;
    opacity: 0.8;
    word-break: break-word;
  }

  a:visited {
    color: #534d38;
  }

  a:hover {
    color: black;
    background: white;
  }
}

//////////////////////////////////////////////////////////////////////////////
// Narrow viewport / mobile variations
//////////////////////////////////////////////////////////////////////////////

@media only screen and (max-width: $container_width) {
  section.header, section.main, section.footer, .redactor-editor {
    width: $container_width_mid;
  }

  section.header {
    height: 127px;

    #logo {
      top: 38px;
      left: 15px;
      width: 147px;
      height: auto;
    }

    nav {
      top: 55px;
      right: 110px;

      a {
        padding-left: 10px;
        font-size: 2em;
      }
    }
  }

  section.main, .redactor-box {
    background-size: $container_width_mid 100%;

    iframe:not([title='recaptcha widget']) {
      width: $content_width_mid * 0.85333333333;
      height: ( ( $content_width_mid * 0.85333333333 ) * 9 ) / 16;
    }

    img {
      max-width: $content_width_mid * 0.75 !important;
      min-height: 36px; // For the spinner, with fingers crossed no images are smaller! CSS hack :-/
      height: auto !important;
    }

    nav, section.content, .redactor-editor {
      @include content_metrics_mid;
    }

    nav {
      padding-top: 15px;
      padding-bottom: 15px;

      a {
        font-size: 14pt;
      }
    }
  }

  section.footer {
    height: 67px;

    section.footer_content {
      @include content_metrics_mid;

      font-size: 60%;
      white-space: nowrap;
      br { display: none; }
    }

    section.footer_content br {
      display: none;
    }
  }
}

@media only screen and (max-width: $container_width_mid) {
  section.header, section.main, section.footer, .redactor-editor {
    width: $container_width_narrow;
  }

  section.header {
    height: 95px;

    #logo {
      width: 110px;
      height: 36px;
    }

    nav {
      top: 45px;
      right: 80px;

      a {
        padding-left: 10px;
        font-size: 1.8em;
      }
    }
  }

  section.main, .redactor-box {
    background-size: $container_width_narrow 100%;

    iframe:not([title='recaptcha widget']) {
      width: $content_width_narrow * 0.85333333333;
      height: ( ( $content_width_narrow * 0.85333333333 ) * 9 ) / 16;
    }

    img {
      max-width: $content_width_narrow * 0.75 !important;
    }

    nav, section.content, .redactor-editor {
      @include content_metrics_narrow;
    }
  }

  section.footer {
    height: 89px;

    section.footer_content {
      @include content_metrics_narrow;
    }
  }
}
